@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Sono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;
}
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:linear-gradient(210deg, rgb(240, 55, 9),rgb(119, 11, 146)) ;

}
body{
    background: #444;
}
/* Logo-Encabezado */
.encabezado{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    height: 100px;
}
/* Logo-Nombre */
.logo{
    width: 250px;
    height: 95px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* Buscador */
#input{
    width: 350px;
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: none;
}
/* Contenedor Menu */
.contenedor_nav{
    width: 100%;
    height: 50px;
    background:linear-gradient(220deg,#032c3d,#181717);
    padding: 0px 20px;
}
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
nav{
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav > ul > li{
    height: 100%;
    list-style: none;
    position: relative;

}
nav > ul > li >a{
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    padding: 14px;
    text-transform:uppercase ;
    font-size: 14px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}
#login{
    background: linear-gradient(250deg,#085E7F,#031F2A);
    background-image: url(../Imagenes/usuario.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 55px;
}
nav > ul > li >a:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    background: linear-gradient(250deg,#085E7F,#031F2A);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    position: inherit;
}
/* Menu Desplegable */
#menu_op{
    display: none;
    list-style: none;
    color: white;
    font-size: 16px;
}

#nombre_empresa{
    color:white;
    background-color: crimson;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    justify-content: center;
    width: 150px;
    font-weight: 800;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    font-size: 1.2rem;
    text-align: justify;
    display: flex;
}
.cate_base:hover #menu_op{
    
    display: block;
    top:58px;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    background: linear-gradient(250deg,#36024a,#01151d);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    width: 130px;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: 5px;
    padding-left: 5px;
}
.sub{
    padding-left:4px;
    padding-top: 3px;
    color: rgb(255, 255, 255);
}
nav #menu_op .cate_aparecer:hover {
    background-color: #032c3d;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    padding-left: 5px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        
}

/* Slider */

.container {
    margin-top: 151px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    background: linear-gradient(220deg,rgb(11, 22, 42), rgb(30, 29, 29));
    width: auto;
    height: auto;
}

.container img {
    width: 60%;
    height: 50%;
    box-shadow: 5px 5px 8px #444;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: calc(1.8);
    -webkit-transition: calc(1.8);
    -moz-transition: calc(1.8);
    -ms-transition: calc(1.8);
    -o-transition: calc(1.8);
}

/* Main */
main{
    margin-top: 150px;
    left: 1%;
    right: 1%;
    height: auto;
    width: auto;
    min-width: 646px;
    background-color: #444;
    display: flex;
    flex-direction: column;
}
.cuerpodiv h1{
    margin-top: 20px;
    
    margin: 20px;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}
.todo{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 5%;
}
.cuerpodiv{
    display: flex;
    justify-content: space-between;
    width: 60%;
    flex-direction: column;
}
.informacion{
    background: linear-gradient(45deg, #08192a, #261e1e);
    width: 30%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin-top: 86px;
    overflow: hidden;
    height: 1%;
}
.video-imagen{
    width: 100%;
    margin-left: 50px;
    align-items: center;
    height: auto;
    justify-content: center;
}
video{
    width: 100%;
    height: auto;
}
#Title{
    margin-top:10px;
    font-size: 1.9rem;
    margin-bottom: 10px;
}
.texto{
    font-size: 1.1rem;
    text-align: justify;
    font-weight: 600;
}

.informacion img{
    width: 100%;
    height: 200px;
}
.informacion p{
    text-align: justify;
    padding: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.informacion h5{
    margin-left: 20px;
    margin-bottom: 10px;
}
.informacion h4{
    margin-left: 10px;
    color: white;
    font-weight: 500;
}
.informacion h5,p{
    color: white;
    font-weight: 300;
}
.etiquetas{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.etiquetas a{
    background-color: #085E7F;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-decoration: none;
    color: white;
    padding: 3px;
    row-gap: 5px;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    align-items: center;
}
.etiquetas a:hover{
    background:linear-gradient(210deg, rgb(240, 55, 9),rgb(119, 11, 146)) ;
    transform: scale(1.09);
    -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    -ms-transform: scale(1.09);
    -o-transform: scale(1.09);
}
#hr{
    width: 100%;
    margin-bottom: 10px;
    border:rgb(59, 84, 71) 1px solid ;
}
.producto{
    display: flex;
    flex-direction: column;
    background-color: #163541;

    background: url(../Imagenes/slideermc.png);
    transition: all 150ms;
    -webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    -ms-transition: all 150ms;
    -o-transition: all 150ms;
}
.producto-2{
    display: flex;
    flex-direction: column;
    background-image:url(../Imagenes/slidermc2.jpg);

    transition: all 150ms;
    -webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    -ms-transition: all 150ms;
    -o-transition: all 150ms;
}
.producto-3{
    display: flex;
    flex-direction: column;
    background-color: #1b2d34;
    background: url(../Imagenes/slidermc3.jpg);
    transition: all 150ms;
    -webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    -ms-transition: all 150ms;
    -o-transition: all 150ms;
}
.producto:hover{
    transform:scale(1.03) ;
    -webkit-transform:scale(1.03) ;
    -moz-transform:scale(1.03) ;
    -ms-transform:scale(1.03) ;
    -o-transform:scale(1.03) ;
}
.producto-2:hover{
    transform:scale(1.04) ;
    -webkit-transform:scale(1.04) ;
    -moz-transform:scale(1.04) ;
    -ms-transform:scale(1.04) ;
    -o-transform:scale(1.04) ;
}
#precios{
display:flex;
justify-content:center;
}
#precios  h4{
    margin-top: 5px;
    background: linear-gradient(220deg,rgb(34, 205, 88),rgb(26, 122, 26));
    padding: 0 10px ;
    font-weight: 700;
    color: black;
    margin-bottom: 15px;
}
#pre1{
    margin-right: -9px;
}
#pre2{
    margin-right: 1px;
}
#precios  a{
    margin-top: 5px;
    background: linear-gradient(220deg,rgb(34, 205, 88),rgb(26, 122, 26));
    padding: 0 10px ;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-weight: 700;
    color: black;
    margin-bottom: 15px;
}
#precios a:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    background:linear-gradient(210deg, rgb(240, 55, 9),rgb(119, 11, 146)) ;

}

.hr{
    width: 100%;
    border:rgb(59, 84, 71) 1px solid ;
    margin-bottom: 10px;
}
.hr1{
    margin-top: 10px;
    width: 100%;
    border:rgb(59, 84, 71) 1px solid ;
}
.cuerpo2{
    display: flex;
    flex-direction: column;
}

/* Slider */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 50px;
    margin-top: 20px;
    justify-content: center;
}

.container img {
    width: 100%;
    height: 100%;
    box-shadow: 2px 5px 2px #444;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
/* Tabla */
.descripcion{
    /* border:solid  ; */
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}
table{
    border-collapse: collapse;
    width: 100%;
    display: flex;
}
tr,td,th{
    border: solid 1px rgb(218, 210, 210);
    padding: 5px;
    text-align: justify;
    font-weight: bold;
}
.requi{
    background: linear-gradient(220deg, rgb(22, 22, 25), rgb(72, 23, 23));
    font-weight: 800;
    text-align: center;
    color: white;
}
strong{
    font-weight: 800;
    margin-left: 5px;
    color: #0c0962;
}
.req{
    margin: 10px;
}



















/* Footer */
footer {
    margin-top: auto;
    width: 100%;
    background: linear-gradient(220deg,rgb(22, 21, 21),black);
}

.parte-1{
    display: flex;
    flex-direction:row;
    background-color: antiquewhite;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: linear-gradient(220deg,rgb(51, 48, 48),rgb(18, 18, 18));
    font-family: 'Sono', sans-serif;
    width: 100%;
    transition: calc(1.1);
    -webkit-transition: calc(1.1);
    -moz-transition: calc(1.1);
    -ms-transition: calc(1.1);
    -o-transition: calc(1.1);
    padding-bottom: 15px;
}
.parte-1 h2{
    margin-top: 20px;
    margin-bottom: 15px ;
    color: white;
    font-size: 18px;

}
.parte-1 a{
    color: rgb(255, 253, 253);
}
.milogo{
    display: flex;
    align-items: center;
    
}
.milogo img{
    width: 300px;
    height: auto;
    margin-top: 20px;
}
.pie-pagina{
    display: flex;
    background-color: antiquewhite;
    flex-wrap: wrap;
}
.fila-1{
    width: auto;
}


footer .red-social a{
    display:inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    
}
footer .red-social a:hover{
    background:linear-gradient(210deg, rgb(240, 55, 9),rgb(119, 11, 146)) ;
}
footer .ultimo{
    background:linear-gradient(250deg,black,rgb(43, 39, 39));
    padding: 15px 10px;
    text-align: center;
    color: white;
    
}